{
  "openapi": "3.0.3",
  "info": {
    "title": "Hooks API",
    "description": "AI-powered social media hook generation and video analysis",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.usenarrative.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/hooks/prepare": {
      "post": {
        "operationId": "prepareVideo",
        "summary": "Prepare Video",
        "description": "Prepare multiple episode files into a continuous video with smart transitions. Removes freeze frames and overlapping content between episodes.",
        "tags": ["Hooks"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PrepareVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video prepared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrepareVideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hooks/generate": {
      "post": {
        "operationId": "generateHook",
        "summary": "Generate Hook",
        "description": "Generate an engaging hook from prepared video content. Supports multiple hook types optimized for social media engagement.",
        "tags": ["Hooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateHookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hook generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateHookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/summarize": {
      "post": {
        "operationId": "summarizeVideo",
        "summary": "Summarize Video",
        "description": "Generate an AI-powered summary of video content. Supports multiple output formats including bullet points, paragraphs, and chapters.",
        "tags": ["Analysis"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SummarizeVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video summarized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummarizeVideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transcript": {
      "post": {
        "operationId": "extractTranscript",
        "summary": "Extract Transcript",
        "description": "Extract audio-visual transcript from video with word-level timestamps and optional speaker diarization.",
        "tags": ["Analysis"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractTranscriptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcript extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractTranscriptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PrepareVideoRequest": {
        "type": "object",
        "properties": {
          "videos": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "Episode video files to merge into continuous video"
          }
        },
        "required": ["videos"]
      },
      "PrepareVideoResponse": {
        "type": "object",
        "properties": {
          "continuous_video_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the merged continuous video",
            "example": "https://cdn.usenarrative.ai/prepared/continuous_abc123.mp4"
          },
          "transcript_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the transcript JSON file",
            "example": "https://cdn.usenarrative.ai/prepared/transcript_abc123.json"
          },
          "total_duration_sec": {
            "type": "number",
            "description": "Total duration of the continuous video in seconds",
            "example": 5234.5
          },
          "episodes_processed": {
            "type": "integer",
            "description": "Number of episodes that were merged",
            "example": 3
          }
        },
        "required": ["continuous_video_url", "transcript_url", "total_duration_sec", "episodes_processed"]
      },
      "GenerateHookRequest": {
        "type": "object",
        "properties": {
          "continuous_video_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the prepared continuous video",
            "example": "https://cdn.usenarrative.ai/prepared/continuous_abc123.mp4"
          },
          "transcript_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the transcript JSON file",
            "example": "https://cdn.usenarrative.ai/prepared/transcript_abc123.json"
          },
          "hook_type": {
            "type": "string",
            "enum": ["fine_cut", "compilation", "narration"],
            "description": "Type of hook to generate",
            "example": "fine_cut"
          }
        },
        "required": ["continuous_video_url", "transcript_url", "hook_type"]
      },
      "GenerateHookResponse": {
        "type": "object",
        "properties": {
          "video_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the generated hook video",
            "example": "https://cdn.usenarrative.ai/hooks/hook_abc123.mp4"
          },
          "hook_duration_sec": {
            "type": "number",
            "description": "Duration of the hook in seconds",
            "example": 35.5
          },
          "cliffhanger_timestamp_sec": {
            "type": "number",
            "description": "Timestamp where the video cuts to cliffhanger",
            "example": 756.8
          },
          "hook_type": {
            "type": "string",
            "enum": ["fine_cut", "compilation", "narration"],
            "description": "Type of hook that was generated",
            "example": "fine_cut"
          }
        },
        "required": ["video_url", "hook_duration_sec", "cliffhanger_timestamp_sec", "hook_type"]
      },
      "SummarizeVideoRequest": {
        "type": "object",
        "properties": {
          "video_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the video to summarize",
            "example": "https://example.com/video.mp4"
          },
          "format": {
            "type": "string",
            "enum": ["bullet_points", "paragraph", "chapters"],
            "description": "Output format for the summary",
            "default": "paragraph",
            "example": "chapters"
          }
        },
        "required": ["video_url"]
      },
      "SummarizeVideoResponse": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string",
            "description": "Generated summary text",
            "example": "This video covers the key moments from the championship game..."
          },
          "chapters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chapter"
            },
            "description": "Chapter breakdown (only present when format=chapters)"
          },
          "duration_sec": {
            "type": "number",
            "description": "Duration of the video in seconds",
            "example": 3600
          }
        },
        "required": ["summary", "duration_sec"]
      },
      "Chapter": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Chapter title",
            "example": "Opening Kickoff"
          },
          "start_time_sec": {
            "type": "number",
            "description": "Start time of the chapter in seconds",
            "example": 0
          },
          "end_time_sec": {
            "type": "number",
            "description": "End time of the chapter in seconds",
            "example": 420
          }
        },
        "required": ["title", "start_time_sec", "end_time_sec"]
      },
      "ExtractTranscriptRequest": {
        "type": "object",
        "properties": {
          "video_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the video to transcribe",
            "example": "https://example.com/video.mp4"
          },
          "include_speakers": {
            "type": "boolean",
            "description": "Include speaker diarization",
            "default": false,
            "example": true
          },
          "include_timestamps": {
            "type": "boolean",
            "description": "Include word-level timestamps",
            "default": true,
            "example": true
          }
        },
        "required": ["video_url"]
      },
      "ExtractTranscriptResponse": {
        "type": "object",
        "properties": {
          "transcript": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptSegment"
            },
            "description": "Array of transcript segments with timestamps"
          },
          "full_text": {
            "type": "string",
            "description": "Complete transcript as plain text",
            "example": "Welcome to the game. Today we have an exciting matchup..."
          },
          "duration_sec": {
            "type": "number",
            "description": "Duration of the video in seconds",
            "example": 3600
          }
        },
        "required": ["transcript", "full_text", "duration_sec"]
      },
      "TranscriptSegment": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Transcript text for this segment",
            "example": "Welcome to the game."
          },
          "start_time_sec": {
            "type": "number",
            "description": "Start time of the segment in seconds",
            "example": 0.5
          },
          "end_time_sec": {
            "type": "number",
            "description": "End time of the segment in seconds",
            "example": 2.1
          },
          "speaker": {
            "type": "string",
            "description": "Speaker identifier (only present when include_speakers=true)",
            "example": "Speaker 1"
          }
        },
        "required": ["text", "start_time_sec", "end_time_sec"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid video URL provided"
          }
        }
      }
    }
  }
}
