{
  "openapi": "3.0.3",
  "info": {
    "title": "Instinct API",
    "description": "AI-powered video editing and caption generation API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.instinct.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/editing/generate-shortform-edit": {
      "post": {
        "operationId": "generateShortformEdit",
        "summary": "Generate Shortform Edit",
        "description": "Takes a video URL, analyzes it with AI, removes unwanted parts (retakes, pauses, filler), and returns an edited video",
        "tags": ["Editing"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShortformEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video edited successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortformEditResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ShortformEditRequest": {
        "type": "object",
        "properties": {
          "video_url": {
            "type": "string",
            "format": "uri",
            "description": "Link to the video file",
            "example": "https://example.com/video.mp4"
          }
        },
        "required": ["video_url"]
      },
      "ShortformEditResponse": {
        "type": "object",
        "properties": {
          "video_url": {
            "type": "string",
            "format": "uri",
            "description": "Link to your edited video (valid for 24 hours)",
            "example": "https://cdn.instinct.com/edited/video_123.mp4"
          },
          "original_duration_ms": {
            "type": "integer",
            "description": "How long the original video was (milliseconds)",
            "example": 180000
          },
          "edited_duration_ms": {
            "type": "integer",
            "description": "How long the edited video is (milliseconds)",
            "example": 120000
          },
          "reduction_percent": {
            "type": "number",
            "description": "How much was cut (as percentage)",
            "example": 33.33
          }
        },
        "required": ["video_url", "original_duration_ms", "edited_duration_ms", "reduction_percent"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
